In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
football = pd.read_csv("song_football.csv", encoding='latin1')

In [5]:
football.head()

,Player Id,Tackles,wontackles,duels,wonduels,passes,wonpasses,interception,First_Name,Last_Name
0,3,28,0.642857,170,0.394118,1108,0.753610,30,Giggs,Ryan
1,363,39,0.641026,107,0.532710,1137,0.930519,24,Scholes,Paul
2,973,32,0.656250,104,0.625000,297,0.713805,23,Woodgate,Jonathan
3,1059,28,0.785714,135,0.577778,424,0.738208,32,Gabbidon,Daniel
4,1131,12,0.916667,58,0.620690,232,0.780172,14,Bramble,Titus

In [7]:
football.shape

(480, 10)

In [6]:
football.loc[football['First_Name']=='Song'] # we are looking for his substitution in the team.

,Player Id,Tackles,wontackles,duels,wonduels,passes,wonpasses,interception,First_Name,Last_Name
263,21091,100,0.73,396,0.474747,2261,0.839894,66,Song,Alexandre

In [8]:
# First Imperative Step - Removing unncessary cols. Keep only numeric cols

football = football.drop(columns=['Player Id','First_Name','Last_Name'], axis=1)

In [9]:
football.isnull().sum()

Tackles         0
wontackles      0
duels           0
wonduels        0
passes          0
wonpasses       0
interception    0
dtype: int64

In [11]:
# Second Imperative Step - Scale all values

import sklearn.preprocessing as preprocessing

football_scale = preprocessing.scale(football, axis = 0)

In [13]:
football_scale  #Scaled value is always numpy array

array([[-0.07161472, -0.55356335,  0.19231802, ...,  0.72211922,
        -0.0331406 ,  0.20763391],
       [ 0.36102342, -0.56411628, -0.36985665, ...,  0.7741784 ,
         1.87028208, -0.05452552],
       [ 0.08570824, -0.47639505, -0.39662688, ..., -0.73374278,
        -0.46142054, -0.09821876],
       ...,
       [-0.81889878,  0.22383583, -1.07480585, ..., -1.09815706,
        -3.10520237, -0.88469705],
       [-1.01555248, -1.37669189, -1.253274  , ..., -1.21663658,
         0.69654158, -1.10316324],
       [-1.05488322, -0.41637526, -1.23542719, ..., -1.2417686 ,
         1.08080388, -1.05947   ]])