In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("C:\\Users\\royku\\Sem II Modules\\Sem II\\WQD7006\\Week4\\Strings.csv")

In [24]:
df.head()

   Age  Marital_Status  Sex Income_M Expenses
0   10               0    1    12000     8000
1   30               1    0    45000    21000
2   34               1    0    39000    20000
3   16               0    0     6000     2000
4   19               0    1    20000    10000

In [16]:
#for linear regression modelling we have to convert all parameter values to numbers
df.Marital_Status = df.Marital_Status.apply(lambda x:1 if x == 'Yes' else 0)

In [17]:
df.Sex = df.Sex.apply(lambda x:1 if x == 'Male' else 0)

In [21]:
#Income_M col needs the value only

df.Income_M  = df.Income_M.apply(lambda x: x.replace('Rs ',''))
df.Income_M  = df.Income_M.apply(lambda x: x.replace('/-',''))

In [23]:
df.Expenses =  df.Expenses.apply(lambda x: x.replace(',',''))

In [27]:
df_new = df.drop('Expenses', axis = 'columns')

In [30]:
from sklearn import linear_model

In [31]:
reg = linear_model.LinearRegression()

In [44]:
reg.fit(df[['Income_M','Marital_Status','Sex','Age']],df.Expenses)

LinearRegression()

In [45]:
reg.coef_

array([ 1.95912996e-01,  2.29776145e+03, -4.29405495e+02, -1.42971290e+01])

In [46]:
reg.intercept_

2984.9483489090962

In [48]:
reg.predict([[20000,0,1,20]])

array([6187.8601889])