In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("C:\\Users\\royku\\Sem II Modules\\Sem II\\WQD7006\\Week3\\Spam Filter.csv")

In [8]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    640  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [13]:
#df['spam'] = df['Category'].apply(lambda X: 1 if x =='spam' else 0)


df['spam'] = df['Category'].map({'spam': 1, 'ham': 0})
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [32]:
#Splitting Dataset to Train & Test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam,test_size = 0.25)

In [33]:
#Count Vecotrization Technique : Message to be converted in Number

from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [34]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [35]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [36]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9885139985642498

### SKLEARN Pipeline

In [37]:
### We are calling transform function everytime we are thinking of running the model
### But in python-sklearn we have an option to create a pipeline to operate on that directly without calling it separately everytime

In [38]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [39]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [40]:
clf.score(X_test,y_test)

0.9885139985642498

In [41]:
clf.predict(emails)

array([0, 1], dtype=int64)