# Naive Bayes classification with binary labels

In [ ]:
# Assigning features and label variables. Creating Data

weather=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']

temp=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']

play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

### Label Encoding - convert string labels into numbers

In [8]:
# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.

weather_encoded=le.fit_transform(weather)
temp_encoded=le.fit_transform(temp)
label=le.fit_transform(play)

print("Weather:",weather_encoded)
print("Temp:",temp_encoded)
print("Play:",label)

Weather: [2 2 0 1 1 1 0 2 2 1 2 0 0 1]
Temp: [1 1 1 2 0 0 0 2 0 2 2 2 1 2]
Play: [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

In [19]:
#Combinig weather and temp into single listof tuples

features=zip(weather_encoded,temp_encoded)
#print(list(features))

feature = list(features)

list

### Generating Model

In [20]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

#Train the model using the training sets
model.fit(feature,label)

GaussianNB()

In [21]:
#Predict Output

predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild
print("Predicted Value:", predicted)

Predicted Value: [1]

# Naive Bayes classification with multiple class classification

### Multinomial Naive Bayes classification

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\royku\\Sem II Modules\\Sem II\\WQD7006\\Week3\\Titanic.csv")

In [3]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
#Dropping Col which are less relevant

df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [5]:
# Need to convert text values to numbers. Changing Text values of Sex Feature via one hot encoding

# df.Sex = df.Sex.map({'male': 1, 'female': 2})

In [6]:
# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.

df.Sex=le.fit_transform(df.Sex)

In [7]:
#Checking for NA value

df.columns[df.isna().any()]

Index(['Age'], dtype='object')

In [8]:
#Replacing NA values by mean for Age

df.Age = df.Age.fillna(df.Age.mean())
df.head(10)

   Pclass  Sex        Age     Fare  Survived
0       3    1  22.000000   7.2500         0
1       1    0  38.000000  71.2833         1
2       3    0  26.000000   7.9250         1
3       1    0  35.000000  53.1000         1
4       3    1  35.000000   8.0500         0
5       3    1  29.699118   8.4583         0
6       1    1  54.000000  51.8625         0
7       3    1   2.000000  21.0750         0
8       3    0  27.000000  11.1333         1
9       2    0  14.000000  30.0708         1

In [9]:
df.Age =  df.Age.round()

In [10]:
df.head(10)

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0
5       3    1  30.0   8.4583         0
6       1    1  54.0  51.8625         0
7       3    1   2.0  21.0750         0
8       3    0  27.0  11.1333         1
9       2    0  14.0  30.0708         1

### Model Creation

In [11]:
#Creating Dependent & independent variable

independent = df.drop('Survived',axis='columns')
target = df.Survived

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,target,test_size=0.2)

In [21]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [22]:
model.fit(X_train,y_train)

GaussianNB()

In [23]:
model.score(X_test,y_test)

0.8435754189944135

In [16]:
y_test[0:10]

888    0
55     1
591    1
526    1
238    0
108    0
427    1
246    0
260    0
154    0
Name: Survived, dtype: int64

In [17]:
model.predict(X_test[0:10])

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 0], dtype=int64)

In [18]:
model.predict_proba(X_test[0:10])

array([[0.56464927, 0.43535073],
       [0.76359823, 0.23640177],
       [0.0201146 , 0.9798854 ],
       [0.36324516, 0.63675484],
       [0.92470412, 0.07529588],
       [0.97288926, 0.02711074],
       [0.3104108 , 0.6895892 ],
       [0.54759547, 0.45240453],
       [0.97135799, 0.02864201],
       [0.97125157, 0.02874843]])

### Calculating Score via Cross Validation

In [19]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=4)

array([0.76923077, 0.76923077, 0.74358974, 0.78064516])