In [64]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv('credit_history.csv')

df.head()

   Loan Default  amount grade  years ownership   income  age
0             0    1000     B    2.0      RENT  19200.0   24
1             1    6500     A    2.0  MORTGAGE  66000.0   28
2             0    2400     A    2.0      RENT  60000.0   36
3             0   10000     C    3.0      RENT  62000.0   24
4             1    4000     C    2.0      RENT  20000.0   28

In [83]:
# Loan Default is our dependent variable here
# we would also need to change the categorical variable before we run our logistic model

In [84]:
df.dtypes

Loan Default      int64
amount            int64
grade            object
years           float64
ownership        object
income          float64
age               int64
dtype: object

In [85]:
df.isnull().sum()

Loan Default      0
amount            0
grade             0
years           279
ownership         0
income            0
age               0
dtype: int64

In [86]:
# Fill Missing Value with NA category

df["years"].fillna("No Data", inplace = True)

df = df.astype({'years':str}) #This is required as label encoder require input to be uniformly string or number

In [87]:
df = df.astype({'income':int}) #changing income from float to int

In [88]:
# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.

df["years"]=le.fit_transform(df["years"])
df["grade"]=le.fit_transform(df["grade"])
df["ownership"]=le.fit_transform(df["ownership"])

In [89]:
df.head()

   Loan Default  amount  grade  years  ownership  income  age
0             0    1000      1     12          3   19200   24
1             1    6500      0     12          0   66000   28
2             0    2400      0     12          3   60000   36
3             0   10000      2     23          3   62000   24
4             1    4000      2     12          3   20000   28

In [90]:
y = df['Loan Default']
x = df.drop('Loan Default', axis = 1)

In [91]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.30)

In [92]:
# Create an instance of the scaler and apply it to the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)

X_test = sc.transform(X_test)

In [93]:
from sklearn.linear_model import LogisticRegression

lg_clf = LogisticRegression()

In [94]:
lg_clf.fit(X_train,y_train)

LogisticRegression()

In [95]:
y_pred = lg_clf.predict(X_test)

In [96]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [97]:
acc = accuracy_score(y_test,y_pred)
acc

0.6463993100474342

In [98]:
cm =  confusion_matrix(y_test,y_pred)
cm

array([[900, 300],
       [520, 599]], dtype=int64)